/* CSS CARROSEL */
.carousel-container {
  width: 100%;
  height: 500px; /* Aumente se quiser */
  position: relative;
  overflow: hidden;
}

/* Linha horizontal com os slides */
.carousel-track {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

/* Cada slide */
.carousel-slide {
  position: relative;
  min-width: 100%;
  height: 100%;
  background-size: cover;      
  background-position: center;  
  background-repeat: no-repeat;
}

/* Botões */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 5px;
}

.carousel-btn.voltar { 
  left: 10px; 
}
.carousel-btn.prox { 
  right: 10px; 
}

.carousel-btn:hover {
  background: rgba(0,0,0,0.8);
}

/* Carrossel texto */
.carousel-texto {
    position: absolute;
    top: 50%;               /* centraliza verticalmente */
    left: 50%;              /* centraliza horizontalmente */
    transform: translate(-50%, -50%); /* ajusta ao centro exato */
    text-align: center;
    color: white;
    font-size: 20px;
    background: rgba(0,0,0,0.45);
    z-index: 2;
}

/* Título Carrossel*/
.carousel-texto h1 {
    font-size: 45px;
    font-weight: bold;
}

/* titulo Cadastro Escola de Musica*/
.titulo-centro {
    text-align: center;
}

/*CENTRALIZAR FORM*/
.form-centro {
    width: 60%;
    margin: 40px auto;
    text-align: left;
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0002;
    text-align: center;
}

/*Site em geral*/
body {
    background-color: #F9F6F0;
    font-family: 'Montserrat', sans-serif;
}