/* CSS CARROSEL */
.carrossel-container {
  width: 100%;
  height: 500px; /* Aumente se quiser */
  position: relative;
  overflow: hidden;
}

/* Linha horizontal com os slides */
.carrossel-track {
  display: flex;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

/* Cada slide */
.carrossel-slide {
  position: relative;
  min-width: 100%;
  height: 100%;
  background-size: cover;      
  background-position: center;  
  background-repeat: no-repeat;
}

/* Botões */
.carrossel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 5px;
}

.carrossel-btn.voltar { 
  left: 10px; 
}
.carrossel-btn.prox { 
  right: 10px; 
}

.carrossel-btn:hover {
  background: rgba(0,0,0,0.8);
}

/* Carrossel texto */
.carrossel-texto {
    position: absolute;
    top: 50%;               /* centraliza verticalmente */
    left: 50%;              /* centraliza horizontalmente */
    transform: translate(-50%, -50%); /* ajusta ao centro exato */
    text-align: center;
    color: white;
    font-size: 20px;
    background: rgba(0,0,0,0.45);
    z-index: 2;
}

/* Título Carrossel*/
.carrossel-texto h1 {
    font-size: 45px;
    font-weight: bold;
}

/* titulo Cadastro Escola de Musica*/
.titulo-centro {
    text-align: center;
}

/*CENTRALIZAR FORM*/
.form-centro {
    width: 30%;
    margin: 40px auto;
    text-align: left;
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px #0002;
    text-align: center;
}

/* Estilo botões form */
.form-centro button,
.form-centro input[type="reset"] {
    padding: 8px 20px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    transition: 0.2s;
}

/* Botão ENVIAR */
.form-centro button {
    background-color: #0077cc;
    color: white;
}

.form-centro button:hover {
    background-color: #005fa3;
}

/*Site em geral*/
body {
    background-color: #F9F6F0;
    font-family: 'Montserrat', sans-serif;
}

/*Escolher Instrumentos*/
.instrumentos-box {
  margin: 10px 0;
  margin-left: 70px;
  font-family: Montserrat, sans-serif;
}

.check {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 5px 0;
  cursor: pointer;
}

.check input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
